<div class="actualclick-main-container">
    <div class="actualclick-left-image-container">
        <a target="_blank">
            <img src="http://actualclick.apphb.com/static/get-image?name=more.png" alt='more'
                title='Get More Deals' />
        </a>
    </div>
    <div class="actualclick-products-container">
        <div class="actualclick-one-product-container">
            <a target="_blank">
                <div class="actualclick-product-image">
                    <img />
                </div>
                <div class="actualclick-product-merchant-logo">
                    <img />
                </div>
                <div class="actualclick-product-price">
                    <div>
                    </div>
                </div>
                <div class="actualclick-product-name">
                    <div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="actualclick-right-image-container">
        <img src="http://actualclick.apphb.com/static/get-image?name=top-deals.png" alt='top-deals'
            title='Top Deals' />
    </div>
</div>
