<root>
  <FileGroup Name="actualclick.js" Minify="true" >
    <File Path="js/actualclick-gateway.js" />
  </FileGroup>
  <FileGroup Name="actualclick.data.js" Minify="true" >
    <File Path="js/jquery-1.7.2.min.js" />
    <File Path="js/jquery.json-2.4.min.js" />
    <File Path="js/jquery.jsonp-2.4.0.min.js" />
    <File Path="js/base64.js" />
    <File Path="js/jquery.gritter.js" />
    <File Path="js/jquery.bpopup.min.js" />
    <File Path="js/actualclick-logic.js" />
  </FileGroup>
</root>
