<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <httpErrors errorMode="Custom" existingResponse="PassThrough" />
  </system.webServer>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="SQLCacheConnectionString" value="workstation id=localhost;packet size=4096;user id=wbdbuser;data source=&quot;69.59.182.165&quot;;persist security info=True;initial catalog=Caching;password=wb2741; Timeout=6000" />
    <add key="MongoDBConnectionString" value="mongodb://qa.dealfinder.winbuyer.com:27017/?w=0" />
    <add key="MongoDBConnectionStringCse" value="mongodb://qa.dealfinder.winbuyer.com:27017/?w=0" />
    <add key="ExtractionServer" value="http://216.93.169.50/campaigns/Get_SiteData.aspx" />
    <add key="StaticCacheKey" value="4" />
  </appSettings>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>
