<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
</head>
<body style="margin: 0; padding: 0;">
    ActualClick find the best prices and related items for the products you are looking
    for while shopping online in your favorite stores
    <br />
    <br />
    To learn more about our activity please visit our <a target="_blank" href="http://actualclick.com/PrivacyPolicy.html">
        Privacy Policy</a> and <a target="_blank" href="http://actualclick.com/Terms.html">terms
            of use</a> Privacy Policy URL - <a></a>
</body>
</html>
